#background{
    background-color: #e6e6e6;
}
#backmid{
    background-color: #cccccc;
}
#backlast{
    background-color:#e6e6e6 ;
}
#htmlInfo{
    font-family: "Times New Roman", Times, serif;
}
#cssInfo{
    font-family: "Times New Roman", Times, serif;
}
#phpInfo{
    font-family: "Times New Roman", Times, serif;
}
