@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
body{
    width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.video-container {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

span{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    text-shadow: black;
    font-weight: 600;
    color: white;
}

button{
    display: contents;
    float: right;
    color: white;
}

.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.navbar.sticky{
    background-color:red ;
    opacity: 0.3;
}

.navbar-collapse{
    padding: 0 26rem;
    margin: auto;
}

.navbar.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.navbar ul li a {
    text-align: center; 
    text-decoration: none;
    font-size: 20px;
    width: 14.28%; 
    display: inline-block;
    margin-left: 25px;
  }

  .resume-section{
    height: 100vh;
  }
 
   img.img-profile{
    display: flex;
    float: right;
    margin-top: 1rem;
    position: relative;
    top: 5rem;
  } 

  .text-content{
      position: relative;
      top: 10rem;
      left: 5rem;

  }

  .about{
    position: relative;
    left: 2rem;
    color: #ffdead;
    font-size: 30px;
  }

  .txt-1{
      font-size: 25px;
  }
  .txt-2{
      font-size: 70px;
  }
  .txt-3{
      font-size: 30px;
  }
  .job{
      color: red;
      font-size: 50px;
  }

  .section-header{
    font-size: 50px;
    color: cornsilk;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
  }

  .education{
    position: relative;
    right: 18rem;
  }

  .resume-section#education{
      height: 165vh;
  }

  .resume-list {
	list-style: none;
	margin-left: 60px;
	padding-left: 110px;
	border-left: 2px solid #fffff0;
}

.resume-list li {
	margin-bottom: 120px;
	position: relative;
}

.resume-list li:last-child {
	margin-bottom: 0;
}

.resume-list li:after {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #40424a;
	border-radius: 50px;
	background: #cacaca;
	top: 30px;
	left: -118px;
}

.resume-list h2 {
	font-size: 72px;
    margin-bottom: 10px;
    color: #ffdead;
}

.resume-list h3 {
	
    color: #f3e5ab;
}

.resume-list h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #fdf9ef;
	margin-top: 10px;
}

.resume-list h5 {
	font-size: 16px;
	color: #fdf9ef;
	margin-top: 10px;
	margin-bottom: 45px;
}

.resume-list p {
	margin-bottom: 0;
}

.resume-section .skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
} */

/* .skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .skill-bar{
    height: 20px;
    background: #ffffff;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 20px;
    background-color:#0099ff;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  } */

  .subskill{
    font-size: 2em;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 0;
  }

  .subtopic{
    margin-left: 5em;
    padding-top: 0em;
    text-transform: uppercase;
    color:wheat ;
    font-size: 20px;
    font-weight: 400;
  }
  .con-img{
      width: 90%;
      justify-content: center;
      position: relative;
      top: 5rem;
  }

  .contact{
      font-size: 30px;
      color: #ffdead;
      position: absolute;
      top: 8rem;
      right: 8rem;
  }
  .contact .btn{
    position: relative;
    top: 1rem; 
    right: 6rem;  
    font-size: 20px; 
    transition-duration: 0.5s;
  }

  
  @media only screen and (max-width: 900px){
    .navbar-collapse{
        max-width: 1300px;
        padding: 0 10rem;
        margin: auto;
        background-color: black ;
    }
  }