@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}
body{
    width:100%;
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

span{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-shadow: black;
    font-weight: 600;
    color: white;
}

button{
    display: contents;
    float: right;
}

.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.navbar-collapse{
    max-width: 1300px;
    padding: 0 20rem;
    margin: auto;
}

.navbar .navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.navbar ul li a {
    text-align: center; 
    text-decoration: none;
    font-size: 20px;
    width: 14.28%; 
    display: inline-block;
    margin-left: 25px;
  }

  .resume-section{
    height: 100vh;
  }

  img .rounded-circle{
      
  }

  @media only screen and (max-width: 900px){
    .navbar-collapse{
        max-width: 1300px;
        padding: 0 13rem;
        margin: auto;
    }
  }